{% load static %}
{% load bbcode_tags %}

<html lang="en">
<head>
<meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
</head>

<html lang="en">
<head>
<meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
<meta name="description" content="The HTML5 Herald">
<meta name="author" content="Czernik">
<link rel="stylesheet" href="{% static 'style/hacker/main.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
	<div class="container">

		<div class="card">
			<div class="card-body card__header">


<div class="row cv_card">
					<!-- left panel -->
					<div class="col-sm-4 ">
						<div class="sections text-center cv_card__side_panel">
							{% for section in sections %}
								{% if forloop.counter|divisibleby:2 %}
									<!-- <section class="card-body__{{section.section_class_name}}"> <!-- @TODO snakecase name  -->
									<section class="card-body__section section_left text-left"> <!-- @TODO snakecase name  -->
										<h3> <i class="{{section.icon}}" aria-hidden="true"></i> {{section.name}}</h3>
										<hr class="hr_style"/>
					{% if section.section_type == section_types.Text %}
						<div class="{{section.section_class_name}}__description indent ">
							<p>
								{% bbcode section.content.text %}	
							</p>
						</div>
					{% elif section.section_type == section_types.List %}

						{% if section.content.list_item.all %}
							<div class="row indent ">
							{% for item in section.content.list_item.all%}
									
									<h3 style="font-weight: {{item.weight}};" class ="col-sm-12 col-md-8 col-xl-8">{{item.headline}}</h3>
									<p style="font-weight: {{item.weight}};" class = "col-sm-12 col-md-4 col-xl-4 school__time" >{{item.year}}</p>
									<div class = "col-sm-12 col-md-8 col-xl-8" >
										<p>{% bbcode item.description %}</p>
									</div>
							{% endfor %}
							</div>
						{% endif %}
					{% elif section.section_type == section_types.Graph %}
					<div  class="skills__container indent row">
						{% for column in section.content.get_graph_grouped %}
							<div class="container__frontend col-sm-6">
								{% for item in column%}
									<div class="col-sm-12">
									<span class="legend">{{item.0}}</span>
									<div class="row">
									{% for sub_item in item.1%}

											<div style="display:none;" class="col-sm-12 print_show">
												<span style="font-weight: {{sub_item.weight}};">
												{{sub_item.name}}
												</span>
											</div>
												{% if sub_item.has_level %}
											<div class="col-sm-12">
												<div class="progress graph__bar ">
													<div
														class="progress-bar progress-bar-striped progress-bar-animated bg-dark" 
														role="progressbar" aria-valuenow="{{sub_item.level}}" 
														aria-valuemin="0" 
														aria-valuemax="100" 
														style="width:{{sub_item.level}}%" 
													<span class="print_hide"style="font-weight: {{sub_item.weight}};" > 
													{{sub_item.name}}: {{sub_item.level}}% 
													</span> 
													</div>
												</div>
												{% else %}
													<div class="col-sm-4">
													<div class="graph__item">
														<span style="font-weight: {{sub_item.weight}};">
															{{sub_item.name}}
														</span>
													</div>
												{% endif %}
											</div>

									{% endfor %}
									</div>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>	
					{% endif %}
				</section>
								{% endif %}
							{% endfor%}
						</div>
					</div>

					<!-- center panel -->
					<div class="col-sm-4 text-center">

							<style>
							</style>

							<div class="center_field">
											<div class="part">
												<div class="octo">
												  <div class="octo1">
													<div style="overflow: none;">
														<img src="https://imgur.com/UwCTcHk.png" alt="" width="320" height="316" />
													</div>
												  </div>
												</div>
														<div class="octo-corner octo-corner-vert"></div>
														<div class="octo-corner octo-corner-hor"></div>
														<div class="octo-corner octo-corner-sl-front"></div>
														<div class="octo-corner octo-corner-sl-back"></div>

								<div class="step_wrapper">
									<div class="step center_field_step_left"></div>
									<div class="step center_field_step_right"></div>
								</div>

								 <div class="center_field__name">
									 <h1>{{basic_info.name}}</h2>
									 <h2 class="font_black font_title">Backend Developer</h2>
								 </div>
								 <div class="center_field__expectations">
								 	{{ sections.0.content.text }}
								 </div>

								<hr class="hr_style"/>

								 <div class="center_field__basic">
								 	<h3>ADDRESS:</h3>
								 	<h4 class="font_black">{{basic_info.address}}</h3>
								 	<h3>PHONE:</h3>
								 	<h4 class="font_black">{{basic_info.phone_number}}</h3>
								 	<h3>EMAIL:</h3>
								 	<h4 class="font_black">{{basic_info.email}}</h3>
								 	<h3>WEBSITE:</h3>
								 	<h4 class="font_black">{{basic_info.website}}</h3>
								 </div>

								<hr class="hr_style"/>

									{% for button in buttons %}
										
									{% endfor %}
							</div>
						</div>
					</div>

					<!-- right panel -->
					<div class="col-sm-4">
						<div class="sections text-center cv_card__side_panel">
							{% for section in sections %}
								{% if not forloop.counter|divisibleby:2 %}
									{% if not section.position == 0%}
										<!--<section class="card-body__{{section.section_class_name}}"> <!-- @TODO snakecase name  -->
										<section class="card-body__section section_right text-left"> <!-- @TODO snakecase name  -->
										<h3> <i class="{{section.icon}}" aria-hidden="true"></i> {{section.name}}</h3>
											<hr class="hr_style"/>
					{% if section.section_type == section_types.Text %}
						<div class="{{section.section_class_name}}__description indent">
							<p>
								{% bbcode section.content.text %}	
							</p>
						</div>
					{% elif section.section_type == section_types.List %}

						{% if section.content.list_item.all %}
							<div class="row indent">
							{% for item in section.content.list_item.all%}
									
									<h3 style="font-weight: {{item.weight}};" class ="col-sm-12 col-md-8 col-xl-8">{{item.headline}}</h3>
									<p style="font-weight: {{item.weight}};" class = "col-sm-12 col-md-4 col-xl-4 school__time" >{{item.year}}</p>
									<div class = "col-sm-12 col-md-8 col-xl-8" >
										<p>{% bbcode item.description %}</p>
									</div>
							{% endfor %}
							</div>
						{% endif %}
					{% elif section.section_type == section_types.Graph %}
					<div  class="skills__container indent row">
						{% for column in section.content.get_graph_grouped %}
							<div class="container__frontend col-sm-6">
								{% for item in column%}
									<div class="col-sm-12">
									<span class="legend">{{item.0}}</span>
									<div class="row">
									{% for sub_item in item.1%}

											<div style="display:none;" class="col-sm-12 print_show">
												<span style="font-weight: {{sub_item.weight}};">
												{{sub_item.name}}
												</span>
											</div>
												{% if sub_item.has_level %}
											<div class="col-sm-12">
												<div class="progress graph__bar ">
													<div
														class="progress-bar progress-bar-striped progress-bar-animated bg-dark" 
														role="progressbar" aria-valuenow="{{sub_item.level}}" 
														aria-valuemin="0" 
														aria-valuemax="100" 
														style="width:{{sub_item.level}}%" 
													<span class="print_hide"style="font-weight: {{sub_item.weight}};" > 
													{{sub_item.name}}: {{sub_item.level}}% 
													</span> 
													</div>
												</div>
												{% else %}
													<div class="col-sm-4">
													<div class="graph__item">
														<span style="font-weight: {{sub_item.weight}};">
															{{sub_item.name}}
														</span>
													</div>
												{% endif %}
											</div>

									{% endfor %}
									</div>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>	
					{% endif %}
					</section>
										
									{% endif %}
								{% endif %}
							{% endfor%}
						</div>
					</div>
			</div>
		</div>
	</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

