body{
	background-color: silver;
	font-family: 'Newsreader', serif;
	font-size: 1.1rem;
}
@media only screen and (max-width: 800px) {
	.container{
		max-width:100% !important;
		padding-right: 1px;
		padding-left: 1px;
	}
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px !important;
    }
}

 .card-body__section{
	 padding-right: 10%;
 }

 .section_right{
	padding-left: 50px
}


.card{
	background: black !important;
	color: #59fe26;
}
.card-body{
	 min-height: 1500px; 
	background-image: url('/static/style/hacker/background.png');
	background-repeat: no-repeat;
	background-size: 100%;
}


.octa {
	height: 100vh;
	overflow: hidden;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100vh;
}
.octa:after {
	background-image: url(https://imgur.com/voKPrMK.png);
	background-position: center center;
	background-size: auto 100vh;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.octo, .octo div {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
	/* border-radius: 40%; */
}
.octo, .octo div {
	width: 270px;
	height: 270px;
}
.octo {
	transform: rotate(45deg);
	position: relative;
	z-index: 2;
}
.octo1 {
	transform: rotate(-45deg);
}
.center_field{
	position: absolute;
	top: 161px;
	left: -10%;
	z-index: 1;
	background: #2b5329;
	min-height: 1068px; 
	width: 120%;
	/* border-radius: 30% 30% 0 0; */
}

.center_field__name{
	/* margin-top: 10%; */
}
.center_field__expectations{
	padding: 1rem;
}


/* lower page to match with bg image */
.cv_card{
	margin-top:18%;
}

.font_black{
	color: black;
}

.font_title{
	font-style: italic;
	font-size: 1.4rem;
}

.hr_style{
	margin-top: 2rem;
	border-top: 10px dotted #59fe26;
	margin-bottom: 2rem;
}

.part{
	margin-top: -53%;
}

.cv_card__side_panel{
	/* position: relative !important; */
	/* top: 85% */
	margin-top: 50%;
}




.card .card_corner {
	position: absolute;
	top: 45%;
	right: -10%;
	width: 1.7em;
	height: 2em;
	/* background-color: #2b5329; */
	z-index: 2;
}
.card_corner_left {
	left: -10%;
	background-color: black;
}
.card_corner_left .card_corner-triangle{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2em 2em 0 0;
	border-color: transparent #2b5329 transparent transparent;
}

.card_corner_right .card_corner-triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 2em 2em 0;
	border-color: transparent black transparent transparent;
}

/* oct frame */
.octo-corner{
	position: absolute;
	border-radius: 2%;
}
.octo-corner-hor{
	position: absolute;
	height: 110px;
	width: 281px;
	top: -19.6%;
	left: 129.3px;
	border-left: dotted 8px;
	border-right: dotted 8px;
	z-index: 2;
}
.octo-corner-vert{
	position: absolute;
	height: 281px;
	width: 110px;
	top: -293.1px;
	left: 39.6%;
	border-top: dotted 8px;
	border-bottom: dotted 8px;
	z-index: 2;
}
/* step decoration */
.step_wrapper{
	height: 200px;
	display: flex;
	margin-top: -33%;
}
.step{
	background-color: #2b5329;
	width: 50%;
}
.center_field_step_left{
	background: linear-gradient(to bottom right, transparent 15%, #2b5329 5%);
}
.center_field_step_right{
	background: linear-gradient(to bottom left, transparent 15%, #2b5329 5%);
}

.sections .card-body__section:nth-child(2){
	margin-top: 5rem;
}


/* modal decoration */
.modal-content{
	background: black !important;
	border: 1px solid #59fe26 !important;
}
.modal-header{
	border-bottom: 1px dotted #59fe26 !important;
}

/* list item clickable */
.list_item_click{
	border: 1px dotted black;
}

.list_item_click:hover{
	cursor: pointer;
	border: 1px dotted #59fe26;
	
}


