:root{
	/* page colors */
	--vivid: #149414;
	--dark: #0e6b0e;
	--light: #649568;
	--lighter: #9ccc9c;
	--bg: #2b5329;

	/* page vital size */
	--page-min-height: 1330px;
	--center-field-top: 194px;
	--sections-top-margin: 220px;

	/* image frame */
	--frame-top-v: -185.1px;
	--frame-left-v: 33.6%;
	--frame-top-h: calc(var(--frame-top-v) + 84px );
	--frame-left-h: calc(var(--frame-left-v) - 25%);
	}
body{
	background-color: silver;
	font-family: 'Newsreader', serif;
	font-size: 1.1rem;

}


.school__time{
	font-size: 1rem;	
}
@media only screen and (max-width: 800px) {
	.container{
		max-width:100% !important;
		padding-right: 1px;
		padding-left: 1px;
	}
}

@media (min-width: 1200px) {
    .container{
        max-width: 1450px !important;
    }
}

 .card-body__section{
	padding-right: 10%;
	margin: 1rem 0.5rem 1rem 0.5rem;
 }
 /* scrollbars */
 /* FF */
 .card-body__section > div.scroll{
	scrollbar-color: var(--vivid) var(--bg);
	scrollbar-width: thin;
	overflow: auto;
	overflow-x: hidden;
	 }
/* Chrome */

div.scroll::-webkit-scrollbar {
  width: 12px;               
}
div.scroll::-webkit-scrollbar-track {
  background: var(--bg);      
}
div.scroll::-webkit-scrollbar-thumb {
  background-color: var(--vivid);
  border-radius: 20px;      
  border: 3px solid var(--bg);
}

.indent.scroll{
	padding-left: 1rem;
}
/* end scrollbars */


 .section_right{
	padding-left: 50px
}


.card{
	background: black !important;
	color: #59fe26;
}
.card-body{
	min-height: calc(var(--center-field-top) + var(--page-min-height) + var(--sections-top-margin) + 45px );
	background-image: url('/static/style/hacker/background.png');
	background-repeat: no-repeat;
	background-size: 100%;
}


.octa {
	height: 100vh;
	overflow: hidden;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100vh;
}
.octa:after {
	background-image: url(https://imgur.com/voKPrMK.png);
	background-position: center center;
	background-size: auto 100vh;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.octo, .octo div {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
	/* border-radius: 40%; */
}
.octo, .octo div {
	width: 270px;
	height: 270px;
}
.octo {
	transform: rotate(45deg);
	position: relative;
	z-index: 2;
}
.octo1 {
	transform: rotate(-45deg);
}
.center_field{
	position: absolute;
	top: var(--center-field-top);
	/* left: -27%; */
	left: -23%; 
	z-index: 1;
	background: #2b5329;
	min-height: var(--page-min-height);
	/* width: 150%; */
	width: 144%; 
	/* border-radius: 30% 30% 0 0; */
}

.center_field__name{
	 margin-top: -1.5rem;
}
.center_field__expectations{
	padding: 1rem;
}


/* lower page to match with bg image */
.cv_card{
	margin-top:var(--sections-top-margin);
}

.font_black{
	color: black;
}

.font_title{
	font-style: italic;
	font-size: 1.4rem;
}

.hr_style{
	margin-top: 2rem;
	border-top: 10px ridge #59fe26;
	margin-bottom: 2rem;
}

.part{
	margin-top: -53%;
}

.cv_card__side_panel{
	/* position: relative !important; */
	/* top: 85% */
	margin-top: 50%;
}




.card .card_corner {
	position: absolute;
	top: 45%;
	right: -10%;
	width: 1.7em;
	height: 2em;
	/* background-color: #2b5329; */
	z-index: 2;
}
.card_corner_left {
	left: -10%;
	background-color: black;
}
.card_corner_left .card_corner-triangle{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2em 2em 0 0;
	border-color: transparent #2b5329 transparent transparent;
}

.card_corner_right .card_corner-triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 2em 2em 0;
	border-color: transparent black transparent transparent;
}

/* oct frame */
.octo-corner{
	position: absolute;
	/* border-radius: 2%; */
}
.octo-corner-hor{
	position: absolute;
	height: 110px;
	width: 281px;
	top: var(--frame-top-h);
	left: var(--frame-left-h);
	border-left: dotted 8px;
	border-right: dotted 8px;
	z-index: 2;
}
.octo-corner-vert{
	position: absolute;
	height: 281px;
	width: 110px;
	top: -293.1px;
	top: var(--frame-top-v);
	left: var(--frame-left-v);
	border-top: dotted 8px;
	border-bottom: dotted 8px;
	z-index: 2;
}
/* step decoration */
.step_wrapper{
	height: 200px;
	display: flex;
	margin-top: -44%; 
}
.step{
	background-color: #2b5329;
	width: 50%;
}
.center_field_step_left{
	background: linear-gradient(to bottom right, transparent 15%, #2b5329 5%);
}
.center_field_step_right{
	background: linear-gradient(to bottom left, transparent 15%, #2b5329 5%);
}

.sections .card-body__section:nth-child(2){
	margin-top: 5rem;
}


/* modal decoration */
.modal-content{
	background: black !important;
	border: 1px solid #59fe26 !important;
}
.modal-header{
	border-bottom: 1px dotted #59fe26 !important;
}

/* list item clickable */
.list_item_click{
	border: 1px dotted black;
}

.list_item_click:hover{
	cursor: pointer;
	border: 1px dotted #59fe26;
	
}


/* skillls graph item */
.skills__level_bar span.empty{
	color: #9ccc9c;
	}
.skills__level_bar span{
	font-size: 105px;
	color: #0e6b0e;
	}
@-moz-document url-prefix() {
.skills__level_bar span{
	font-size: 138px;
	}
	}
.skills__level_bar{
	font-size: 0;
	/* margin-top: -5.2rem; */
	letter-spacing: -0.5rem;
	white-space: nowrap;
	line-height: 2.7rem;;
}

/* Fix title desc overflowing to another skills gh: #38 */
.skills__container{
	max-height: 100%;
	overflow: hidden;
}

/* select language style */
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


/* icons */
h3 .fa{
	font-size: 2.5rem;
	margin-right: 1rem;
}

