.fa-3{
	font-size: 0.7em;
	vertical-align:middle;
}
hr.style-one {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.work__time, .school__time{
	font-weight: 700;
}

.indent > *{
	padding-left: 4.5%;
}
.skills__container > div > *{
	border: 1px solid black;
	border-radius: 15%;
	margin-bottom: 3vh;
}

.legend{
	background-color: white;
	position: relative;
	bottom:1.4vh;
}
.progress{
	margin: 3%;
}
.progress:first-of-type{
	margin-top: 0;
}
.modal-wider{
	width: 62rem;
}
@media print {
	.skills__container{
		margin-top: 2rem;
	}
	.progress {
		position: relative;
	}
	.progress:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		border-bottom: 2rem solid #eeeeee;
	}
	.progress-bar {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		border-bottom: 2rem solid black;
	}
	.card__header .btn{
		display:none;
	}
	.card__header p{
		display: block !important;
	}
	.print_show{
		display: unset !important;
	}
	.print_hide{
		display: none;
	}
}
