{% extends "template.html" %}
{% load static %}
{% load bbcode_tags %}

{% block header %}
  <title>{{basic_info.name}} - resume</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Czernik">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="{% static 'style/resume.css' %}">
  <link rel="stylesheet" href="{% static 'style/main.css' %}">
{% endblock %}


{% block title %}
	<h1 class="text-center mt-4 mb-0">{{basic_info.name}}</h1>
	<div>
		{{basic_info.address}} 
		<i class="fa fa-circle fa-3" aria-hidden="true"></i> 
		{{basic_info.phone_number}} 
		<i class="fa fa-circle fa-3" aria-hidden="true"></i> 
		<a href="mailto:{{basic_info.email}}">{{basic_info.email}}</a></p>
	</div>
	<div>
			{% bbcode basic_info.extra_header %}	
	</div>
{% endblock %}

{%block content%}
				<style>
				
					.container{
						max-width:100% !important;
						padding-right: 1px;
						padding-left: 1px;
					}
					section{
						margin-bottom: 30px;
					}
					.card-body__skills_4 hr{
						margin-bottom: 70px;
					}
				</style>
				{% for section in sections%}
					<section class="card-body__{{section.section_class_name}}"> <!-- @TODO snakecase name  -->
						<h2><i class="{{section.icon}}" aria-hidden="true"></i> {{section.name}}</h2>
					<hr style="style-one">
					{% if section.section_type == section_types.Text %}
						<div class="{{section.section_class_name}}__description indent">
							<p>
								{% bbcode section.content.text %}	
							</p>
						</div>
					{% elif section.section_type == section_types.List %}

						{% if section.content.list_item.all %}
							<div class="row indent">
							{% for item in section.content.list_item.all%}
									
									<h3 style="font-weight: {{item.weight}};" class ="col-sm-12 col-md-8 col-xl-8">{{item.headline}}</h3>
									<p style="font-weight: {{item.weight}};" class = "col-sm-12 col-md-4 col-xl-4 school__time" >{{item.year}}</p>
									<div class = "col-sm-12 col-md-8 col-xl-8" >
										<p>{% bbcode item.description %}</p>
									</div>
							{% endfor %}
							</div>
						{% endif %}
					{% elif section.section_type == section_types.Graph %}
					<div  class="skills__container indent row">
						{% for column in section.content.get_graph_grouped %}
							<div class="container__frontend col-sm-6">
								{% for item in column%}
									<div class="col-sm-12">
									<span class="legend">{{item.0}}</span>
									<div class="row">
									{% for sub_item in item.1%}

											<div style="display:none;" class="col-sm-12 print_show">
												<span style="font-weight: {{sub_item.weight}};">
												{{sub_item.name}}
												</span>
											</div>
												{% if sub_item.has_level %}
											<div class="col-sm-12">
												<div class="progress graph__bar ">
													<div
														class="progress-bar progress-bar-striped progress-bar-animated bg-dark" 
														role="progressbar" aria-valuenow="{{sub_item.level}}" 
														aria-valuemin="0" 
														aria-valuemax="100" 
														style="width:{{sub_item.level}}%" 
													<span class="print_hide"style="font-weight: {{sub_item.weight}};" > 
													{{sub_item.name}}: {{sub_item.level}}% 
													</span> 
													</div>
												</div>
												{% else %}
													<div class="col-sm-4">
													<div class="graph__item">
														<span style="font-weight: {{sub_item.weight}};">
															{{sub_item.name}}
														</span>
													</div>
												{% endif %}
											</div>

									{% endfor %}
									</div>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>	
					{% endif %}
				</section>
				{% endfor %}
{% endblock%}

{% block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
