<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  {% block header%}
  {% endblock %}

</head>


<body>
	<div class="container">

		<div class="card">
			<div class="card-body">
				<a href="{% url 'briefcase' user_id=1 type='Documents' %}" class="btn btn-outline-dark">Documents</a>
				<a href="https://github.com/Murtrag?tab=repositories" class="btn btn-outline-dark">Portfolio</a>
				<a href="https://github.com/Murtrag?tab=repositories" class="btn btn-outline-dark">GitHub</a>
				<a href="https://github.com/Murtrag?tab=repositories" class="btn btn-outline-dark">GitHub</a>

				<header class="text-center">
					{% block title %} {% endblock %}
				</header>
					{% block content %}{% endblock%}
				<footer>
				</footer>
			</div>
		</div>
	</div>


{% block scripts %}
{% endblock %}
</body>
</html>
