<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
  {% block header%}
  {% endblock %}

</head>


<body>
	<div class="container">

		<div class="card">
			<div class="card-body card__header">


				<div class="row">
					<div class="col-sm-8">
					{% block buttons %}
						<a href="{% url 'resume' info_id=basic_info.info_id %}" class="btn btn-outline-dark">Resumé</a>
						<p style="display: none;"><strong>Resumé: </strong>{{ request.META.HTTP_HOST  }}{% url 'resume' info_id=basic_info.info_id %}</p>

						{% for button in briefcase%}
						<a href="{% url 'briefcase' info_id=basic_info.info_id type=button.name %}" class="btn btn-outline-dark">{{button.name}}</a>
						<p style="display: none;"><strong>{{button.name}}: </strong>{{ request.META.HTTP_HOST  }}{% url 'briefcase' info_id=basic_info.info_id type=button.name %}</p>
						{% endfor %}
					{% endblock %}

					{% block extra_buttons %}
						{% for button in url_buttons %}
							<a href="{{button.url}}" target="_blank" class="btn btn-outline-dark">{{button.name}}</a>
							<p style="display: none;"><strong>GitHub: </strong>{{github_url.name}}</p>
						{% endfor %}
					{% endblock %}
					</div>
					<div class="col-sm-4 text-right">
						<i class="fa fa-flag" aria-hidden="true"></i> {{section.name}}
						<select>
							<option>1</option>
							<option>2</option>
						</select>
					</div>
				</div>

				<header class="text-center">
					{% block title %} {% endblock %}
				</header>
					{% block content %}{% endblock%}
				<footer>
				</footer>
			</div>
		</div>
	</div>


{% block scripts %}
{% endblock %}
</body>
</html>
