/* style="max-width:60vw" */

.img-thumbnail{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.figure .img-thumbnail{
	max-height: 11.1rem
}
@media only screen and (max-width: 800px) {
	.modal-dialog{
		min-width:100% !important;
	}
}
.modal-wider{
	max-width: 62vw;
}

